body {
  margin: 0px;
  padding: 0px;
  background: #f7f7f7;
  font-family: "Times Roman", sans serif;
  line-height: 1.6;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: 1px solid black;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#search-input {
  width: 60%;
  max-width: 400px;
  margin-right: 16px;
  padding: 10px 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 18px;
  color: #333;
  border: none;
  cursor: pointer;
}

#search-button {
  background: blue;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#search-button:hover {
  background: white;
  color: blue;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border: none;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
}

.search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
  /*   border: 1px solid black; */
}

.search-result:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.search-result:hover img {
  transform: scale(1.05);
}

.search-result img {
  width: 75%;
  height: 200px;
  object-fit: cover;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  border: 1pz solid black;
  transition: transform 0.3s ease-in-out;
}

.search-result img:hover {
  /*   box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3); */
}

.search-result a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  cursor: pointer;
  font-style: italic;
  text-align: center;
  transition: background 0.3s ease-in-out;
  /*   border: 1px solid black; */
}

.search-result:hover a {
  background: lightgray;
  text-decoration: none;
  color: blue;
}

#show-more-button {
  float: right;
  background: black;
  color: white;
  padding: 10px 20px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  /* this display will make sure the btn isn't there until needed */
  display: none;
}

#show-more-button:hover {
  background: white;
  color: blue;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border: none;
}


/* WILL ADD THIS AT A LATER TIME, JUST EXTRA */
/* footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 0px 10px;
  text-align: center;
  margin: 0;
}

footer .heart {
  color: red;
}

footer p {
  font-size: 14px;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

footer p a:hover {
  color: blue;
} */


/* DIFFERENT DEVICE SIZES */
@media (max-width: 768px) {
    .search-result {
        width: 100%;
        margin: 5px;
    }

    .search-result img {
        width: 60%;
        object-fit: cover;
    }

    .search-result a {
        font-size: 14px;
    }

    #show-more-button {
        font-size: 14px;
        margin-right: 10px;
    }
}
